DATABASE_URL=postgresql://user:password@host:5432/dbname
GOOGLE_GENERATIVE_AI_API_KEY=your_google_ai_api_key

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=social-media-manager
R2_PUBLIC_URL=https://pub-7077b2c6ca0c4059aeb1fbb2aea6e914.r2.dev
